<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tienda (Albumes)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/cromo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/pasatiempo.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="height: 70px;">
        <div class="container"><img src="assets/img/logoBlanco.svg" style="height: 60px;filter: brightness(0%) contrast(200%) invert(100%);"><a class="navbar-brand" href="/dashboard/user">&nbsp; KIOSCO CARENTE</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"><i class="fa fa-star"></i>&nbsp;PUNTOS: <%= puntos %></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/dashboard/user"><i class="fa fa-home"></i>&nbsp;inicio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="clientePerfil.html"><i class="fa fa-user"></i>&nbsp;PERFIL</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="../logout"><i class="fa fa-sign-out"></i>&nbsp;CERRAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-bottom: 52px;padding-top: 25px;">
        <h3 class="text-uppercase text-center text-secondary" style="margin: 0px;height: 25px;margin-top: 75px;padding: 0px;padding-top: 0px;margin-bottom: 26px;">ÁLBUMES DISPONIBLES</h3>
        <% colecciones.forEach(function(coleccion, i) { %>
                <% if(i%3===0){ %>
                    <div class="row text-start justify-content-center">
                  <% } %>
                  <div class="col-md-4 columnas_coleccion_tienda">
                    <div class="card" style="margin-bottom: 0px;"><img class="card-img-top w-100 d-block bg-danger bg-gradient border rounded-pill border-secondary shadow-lg" src="<%= "."+coleccion.FotoAlbum%>" style="margin-bottom: 0px;">
                        <div class="card-body" style="margin-bottom: 0px;">
                            <h1 class="card-title" style="text-align: center;margin-bottom: 6px;"><strong><%= coleccion.Nombre %></strong><br></h1>
                            <% if(i < numeroNoCompradas){ %>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: rgb(238,195,195);margin-bottom: 6px;">NO POSEES EL ÁLBUM</h6>
                                <p class="card-text" style="text-align: justify;margin-bottom: 12px;"><%= coleccion.Descripcion %><br></p>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: var(--color6);margin-bottom: 6px;"><%= coleccion.PrecioAlbum %> PUNTOS</h6>
                                <a class="btn btn-primary" role="button" style="text-align: left;margin-bottom: 0px;margin-left: 12px;" href=<%= "comprarAlbum?nombreColeccion=" + coleccion.Nombre %>>COMPRAR ÁLBUM</a>


                                <%}else { %>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: rgb(157,224,156);">TIENES EL ÁLBUM</h6>
                                <p class="card-text" style="text-align: justify;margin-bottom: 12px;"><%= coleccion.Descripcion %><br></p>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: var(--color6);margin-bottom: 6px;"><%= coleccion.PrecioAlbum %> PUNTOS</h6>
                                <a class="btn btn-primary" role="button" style="text-align: left;margin-bottom: 0px;" href=<%= "TiendaCromos?nombreColeccion=" + coleccion.Nombre %>>CROMOS</a>
                    
                                <%} %>
                        </div>
                    </div>
                </div>
                <% if(i%3===2){ %>

                </div>
            
                <% } %>
            
                <% }); %>
              </div>
    <div style="margin-bottom: 20px;"></div>
    <div class="text-center text-white copyright py-4 fixed-bottom" style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;margin-top: 0px;">
        <div class="container"><small>Copyright ©&nbsp;Carentes 2021</small></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/freelancer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>