<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Página Cliente</title>
    <link rel="stylesheet" href="/dashboard/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="/dashboard/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard/assets/css/cromo.css">
    <link rel="stylesheet" href="/dashboard/assets/css/barra_navegacion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="/dashboard/assets/css/Team-Clean.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="height: 70px;">
        <div class="container"><img src="/dashboard/assets/img/logoBlanco.svg" style="height: 60px;filter: brightness(0%) contrast(200%) invert(100%);"><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse nav_contenedor_botones" id="navbarResponsive">
                <ul class="navbar-nav ms-auto nav_lista_botones">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"><i class="fa fa-star"></i>&nbsp;PUNTOS: <%= puntos %></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/dashboard/user/tiendaAlbumes"><i class="fa fa-shopping-cart"></i>&nbsp;TIENDA</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/dashboard/user/editarPerfil"><i class="fa fa-user"></i>&nbsp;PERFIL</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="../logout"><i class="fa fa-sign-out"></i>&nbsp;CERRAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-bottom: 52px;padding-top: 25px;"><div><h1 class="text-uppercase text-center text-secondary" style="margin: 20px;height: 25px;margin-top: 69px;padding-top: 0px;">Bienvenido <%= nombre %></h1></div>
        <h3 class="text-uppercase text-center text-secondary" style="margin: 0px;height: 25px;margin-top: 0px;padding: 0px;padding-top: 0px;margin-bottom: 26px;">TUS ÁLBUMES</h3>
        <% if(colecciones.length === 0){ %>
        <h3 class="text-uppercase text-center text-secondary" style="margin: 0px;height: 25px;margin-top: 0px;padding: 0px;padding-top: 20px;margin-bottom: 26px;">AUN NO TIENES NINGÚN ALBUM</h3>
        <%}%>

        <% colecciones.forEach(function(coleccion, i) { %>
                <% if(i%3===0){ %>
                    <div class="row text-start justify-content-center">
                  <% } %>
                  <div class="col-md-4 columnas_coleccion">
                    <div class="card"><img style="max-height:141px;" class="card-img-top w-100 d-block bg-danger bg-gradient rounded-pill border-secondary shadow-lg" src="<%= coleccion.FotoAlbum %>">
                        <div class="card-body">
                            <h1 class="card-title" style="text-align: center;"><strong><%= coleccion.Nombre %></strong><br></h1>
                            <% if(estados[i].Estado === "No iniciada"){ %>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: rgb(238,195,195);"><%= estados[i].Estado %></h6>
                                <%}else if(estados[i].Estado === "Completada parcialmente"){ %>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: var(--bs-yellow);margin-bottom: 6px;"><%= estados[i].Estado %></h6>
                                <%}else { %>
                                <h6 class="text-muted card-subtitle mb-2" style="text-align: center;background: rgb(157,224,156);margin-bottom: 6px;"><%= estados[i].Estado %></h6>
                            <%} %>
                            
                            <p class="card-text" style="text-align: justify;"><%= coleccion.Descripcion %><br></p><a class="btn btn-primary" role="button" style="text-align: left;" href=<%= "clienteCromos?nombreColeccion=" + coleccion.Nombre %>>Ver cromos</a>
                        </div>
                    </div>
                </div>

                <% if(i%3===2){ %>

                </div>
            
                <% } %>
            
                <% }); %>
            </div>
        <div class="container team-clean" >
            <div class="intro">
                <h2 class="text-center" style="margin: 0px;padding: 0px 0px;margin-top: 14px;">Consigue Puntos</h2>
                <p class="text-center"><br><em>Completa nuestros desafíos y gana puntos para conseguir todos los cromos de tu colección.</em><br><br></p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 col-xxl-3 item"><img class="rounded-circle" src="/dashboard/assets/img//retos/pasatiempo.png">
                    <h3 class="name">Pasatiempo</h3>
                    <p class="title">15 puntos</p>
                    <p class="description">Resuelve los pasatiempos que te proponemos y consigue puntos a la vez que te entretienes.</p><a class="btn btn-primary text-center" role="button" style="text-align: left;width: 133.0625px;" href="./retoPasatiempo">ACCEDER<br></a>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3 item"><img class="rounded-circle" src="/dashboard/assets/img/retos/captcha.png">
                    <h3 class="name">Captcha</h3>
                    <p class="title">3 puntos</p>
                    <p class="description">Demuéstranos que no eres un robot y premiaremos tu humanidad con puntos.</p><a class="btn btn-primary text-center" role="button" style="text-align: left;width: 133.0625px;" href="./retoCaptcha">ACCEDER<br></a>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3 item"><img class="rounded-circle" src="/dashboard/assets/img/retos/pregunta.png">
                    <h3 class="name">Preguntas</h3>
                    <p class="title">7 puntos</p>
                    <p class="description">Te preguntamos y tú respondes. Si aciertas te llevas recompensa.</p><a class="btn btn-primary text-center" role="button" style="text-align: left;width: 133.0625px;" href="./retoPregunta">ACCEDER<br></a>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3 item"><img class="rounded-circle" src="/dashboard/assets/img/retos/ecuacion.png">
                    <h3 class="name">Ecuación</h3>
                    <p class="title">10 puntos</p>
                    <p class="description">Si las ecuaciones son lo tuyo, obtendrás puntos de manera rápida y sencilla.</p><a class="btn btn-primary text-center" role="button" style="text-align: left;width: 133.0625px;" href="./retoEcuacion">ACCEDER<br></a>
                </div>
            </div>
        </div>
    <div style="margin-bottom: 20px;"></div>
    <div class="text-center text-white copyright py-4 fixed-bottom" style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;margin-top: 0px;">
        <div class="container"><small>Copyright ©&nbsp;Carentes 2021</small></div>
    </div>
    <script src="/dashboard/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dashboard/assets/js/bs-init.js"></script>
    <script src="/dashboard/assets/js/freelancer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="/dashboard/assets/js/script.js"></script>
    <script src="/dashboard/assets/js/Simple-Slider.js"></script>
</body>

</html>